<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h3><a href="accounts/login" >Login</a></h3>

<h3><a href="accounts/logout" >Logout</a></h3>



<h3>About Us</h3>

<h3>FAQs</h3>

 {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}

</body>
</html>